@import "src/app/styles/colors";
.files_area{
 position: relative;
  width: 100%;
  height: 116px;
  border: 1px dashed #2F80ED;
  border-radius: 4px;
  margin: 65px 0 6px 0;
  z-index: 10;
}

.article_tags_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.article_tags {
    width: auto;
    padding: 8px 24px;
    background-color: #fff;
    color: #000;
    border-radius: 40px;
    box-shadow: 0px 6px 8px rgb(234 237 242 / 50%);
    white-space: nowrap;
    margin: 0 3px 3px 3px;
    user-select: none;
    cursor: pointer;
}

.article_tags_add {
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/add_icon_gray.svg);
  background-position: 12px 8px,bottom right;
  padding-left: 40px;
}

.article_tags_checked {
  background-color: $blue-color;
  background-image: url(../../../assets/images/checked.svg);
  background-repeat: no-repeat;
  background-position: 12px 8px,bottom right;
  padding-left: 40px;
}
