.spinner_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 160px);
}
.spinner_block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.spinner_text{
  margin-bottom: 10px;
  color: #333333;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.01em;
}
