<main *ngIf="!sendLoading; else spinner">
  <div class="article_wrapper">
    <div class="centered_content preview_wrapper">
      <h3>{{data.title}}</h3>
      <img src="{{data.img}}"
           alt=""
           class="article_picture">

      <div *ngFor="let subtitle of data.subTitles; index as i">
        <h5>
          {{subtitle}}
        </h5>
        <p class="article_text">
          {{data.contents[i]}}
        </p>
      </div>
    </div>
    <hr>
    <address>
      {{data.author}}
    </address>
    <div class="article_tags_list">
      <div *ngFor="let tag of data.tags"
           class="article_tags">
        {{tag}}
      </div>
    </div>
  </div>


</main>
<footer *ngIf="!sendLoading"
        class="footer_article">
  <div class="form_buttons">
    <button routerLink='/creating'
            class="form_button backToCreate">
      Back
    </button>
    <button (click)="saveData()"
            class="form_button">
      Publish
    </button>
  </div>
</footer>


<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>



