

.mat-dialog-container {
  height: auto;
  width: 100%
}

.cdk-overlay-pane {
  width: 100%;
}

.article_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1152px;
  margin: 0 auto;
}

.navigation_list {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.preview_wrapper {
  margin-top: 40px;
}

h6 a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #828282;
}

.navigation_list__item + .navigation_list__item h6::before {
  content: "";
  background-image: url(../../../assets/images/arrow_nav.svg);
  padding: 10px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.article_active {
  color: #333333;
}

.article_picture {
  object-fit: contain;
  max-width: 1152px;
  height: 468px;
  margin-bottom: 50px;
}

h3 {
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  display: flex;
  letter-spacing: -0.005em;
  color: #333333;
  margin-bottom: 50px;
}

h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 132%;
  display: flex;
  align-items: center;
  color: #4F4F4F;
  margin-bottom: 30px;
}

.article_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0168em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #4F4F4F;
  margin-bottom: 30px;
}

.centered_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article_tags_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.article_tags {
  width: auto;
  padding: 8px 24px;
  background-color: white;
  color: black;
  border-radius: 40px;
  box-shadow: 0px 6px 8px rgba(234, 237, 242, 0.5);
  white-space: nowrap;
  margin: 0 3px 3px 3px;
  user-select: none;
  cursor: pointer;
}

address {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-style: normal;
  color: #333333;
  margin-bottom: 40px;
}

.tags_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.form_buttons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 20px 0;
}

.form_button {
  width: 138px;
  height: 48px;
  background: #F2C94C;
  border-radius: 24px;
  border: 0px solid;
}

.form_button:hover {
  background: rgba(18, 177, 18, 0.762);
}

.backToCreate {
  margin-right: 30px;
  background: inherit;
  border: 1px solid #F2C94C;
}

.spinner_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 160px);
}

.spinner_block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.spinner_text {
  margin-bottom: 10px;
  color: #333333;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.01em;
}
