<main>
  <div class="main_wrapper">
    <div class="authorize_wrapper">
      <div class="authorize_block">
        <h1 class="authorize_head">{{user? 'You successfully logged! Now you can create posts' :'Welcome to course'}}</h1>
        <button *ngIf="!isChecked&&!user" class="google_btn">Sign In with Google</button>
        <button  *ngIf="isChecked&&!user" (click)="loginGoogle()" class="google_btn btn_active" >Sign In with Google</button>
        <div *ngIf="!user" class="check_wrapper">
          <input  [(ngModel)]="isChecked" id="privacy_policy" type="checkbox" required="">
          <label class="privacy_policy" for="privacy_policy">You agree to our Terms of Use and Privacy Policy</label></div>
      </div>

    </div>
  </div>
</main>
<app-footer></app-footer>
