<main>
  <div class="information_wrapper">
    <div class="information">
      <div class="information_text">
        <h4>Free courses from</h4>
        <h2>LEVERX GROUP</h2>
        <p>The profession of a programmer is one of the most demanded
          in the IT field today. Programming training at LeverX Group
          is an excellent opportunity to gain practical knowledge
          in the most relevant areas in this area and build a successful
          career in our company.</p>
        <button class="start_btn">Start Now</button>
      </div>
    </div>
  </div>
  <div class="articles_wrapper">
    <div class="articles_tags">
      <h4 class="articles_heading">Interesting articles by LeverX Group</h4>
      <label for="search" class="search_label"></label>
      <input type="text" name="search" id="search" placeholder="Search for article" [(ngModel)]="inputValue"
             (input)="search()">

      <div class="article_tags_list" *ngIf="!!articlesList.articlesList.length && !articlesList.isLoading">
        <div (click)="collectTag(item)" class="article_tags"
             [class.article_tags_checked]="isActiveTag(item) "
             *ngFor="let item of baseOfTags; let i = index">{{item}}</div>
      </div>

      <div class="articles" *ngIf="!articlesList.isLoading && !!articlesList.articlesList.length;
       else articlesList.isLoading && !!articlesList.articlesList.length ? spinner : noResultsState">
        <app-article-prev *ngFor="let articleContent of articlesList.articlesList" [articleContent]="articleContent">
        </app-article-prev>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>


<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #noResultsState>
  <app-empty-state></app-empty-state>
</ng-template>
